@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/*CSS Variables*/
$main-color: #2e4c7e;
$main-color-rgba: rgba(46, 76, 126, 0.5);
$main-color-rgba-light: rgba(46, 76, 126, 0.2);
$tint-color: #e2a031;
$secondary-color: #647db3;
$off-white: #e1f0fe;
$white: #ffffff;
$main-font: 'Roboto Condensed', sans-serif;
$bg-color: #eee;

//Mixin
@mixin image-styling($url) {
  background: linear-gradient($main-color-rgba-light, $main-color-rgba-light),
    url($url);
  background-position: center;
  background-size: fit;
  background-repeat: no-repeat;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: $main-font;
  margin: 0;
  height: auto;
  background: $bg-color;
}

main {
  max-width: 1000px;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
    -30px 0px 40px rgba(0, 0, 0, 0.1);
}

h1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 0;
  color: $off-white;
  text-transform: uppercase;
}

h2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
  color: $secondary-color;
  text-transform: uppercase;
}

#top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99;
  cursor: pointer;
  padding: 5px 15px;
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 5%;
  color: $main-color;
  border-right: 2px solid $tint-color;
  border-left: 2px solid $tint-color;
  background: linear-gradient(to right, $tint-color 50%, $off-white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 500ms;
}

#top-button:hover {
  cursor: pointer;
  background-position: left bottom;
  opacity: 0.9;
  color: $off-white;
}

img {
  display: block;
  width: 100%;
}

#landing {
  background: $main-color;
}

#landing-text {
  display: flex;
  flex: 0 1 40vw;
  height: 65vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

#landing-text-inner h1 {
  margin-top: 0px;
}

#landing-logo {
  display: block;
  width: 90%;
  margin: auto;
  -webkit-animation: swing-in-top-fwd 1.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.btn {
  padding: 0.25rem 0.5rem;
  border-right: 2px solid $tint-color;
  border-left: 2px solid $tint-color;
  display: inline-block;
  margin: 2rem 1rem;
  color: $secondary-color;
  text-decoration: none;
  font-size: 1.25rem;
  background: linear-gradient(to right, $tint-color 50%, $main-color 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    both;
  animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  transition: all 500ms ease;
}
.btn:hover {
  background-position: left bottom;
  opacity: 0.9;
  color: $main-color;
}

.btn-light {
  color: $main-color;
  background: linear-gradient(to right, $main-color 50%, $off-white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.btn-light:hover {
  color: $secondary-color;
}

#landing-image {
  background: linear-gradient($main-color-rgba, $main-color-rgba),
    url('/img/bg-image.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 35vh;
  flex: 0 1 60vh;
  margin: 0;
  transition: all 500ms;
}

#about {
  padding: 1rem;
  text-align: center;
  background: $off-white;
}

#profile-pic-area {
  display: none;
}
#profile-pic {
  
  width: 8rem;
  text-align:right;
  float:right;
}

#about-content p {
  font-size: 1rem;
  font-weight: 300;
  color: $main-color;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  text-align:left;
}

#about-social {
  margin-top: 30px;
  color: $main-color;
}

#about-social i {
  color: $main-color;
  font-size: 2rem;
  display: inline-block;
  margin: 0 15px;
  transition: all 500ms;
}

#about-social i:hover {
  cursor: pointer;
  color: $tint-color;
}


#work {
  text-align: center;
  background: $main-color;
  color: $off-white;
  display: block;
  width: 100%;
}

.work-content-inner {
  background: $main-color;
}

#work-content {
  background: $main-color;
  padding: 1rem;
}
.work-text {
  background: $main-color;
}

#work-content h2 {
  border-right: 2px solid $tint-color;
  border-left: 2px solid $tint-color;
  margin: 0.5rem 4rem;
  text-transform: none;
  color: $secondary-color;
  text-decoration: none;
  font-size: 1.5rem;
}

.work-image {
  height: 45vh;
  flex: 0 1 50vh;
}

.work-text-inner h2 {
  color: $tint-color;
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
  text-transform: none;
}

.subtitle {
  color: $secondary-color;
  margin-bottom: 0.75rem;
}

.project-text {
  font-weight: 300;
}

.btn-small {
  font-size: 1rem;
}

.work-skill-area {
  margin: 1rem 0 0 0;
}

#contact {
  background: $off-white;
  padding: 1rem;
  text-align: center;
}

#contact-content h2 {
  border-right: 2px solid $tint-color;
  border-left: 2px solid $tint-color;
  display: inline-block;
  margin: 0.5rem 5rem;
  margin-bottom: 15px;
  padding: 5px 15px;
  text-transform: none;
  color: $main-color;
  text-decoration: none;
  font-size: 1.5rem;
}

.contact-content-text {
  color: $main-color;
}

.contact-content-form {
  color: $main-color;
  margin-top: 1rem;
}

.contact-table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  flex-wrap: wrap;
}

.contact-table-item {
  margin: 0.6rem;
}

.contact-table a {
  color: $main-color;
  margin: 10px;
  font-size: 1rem;
  transition: all 500ms;
}

.contact-table a:hover,
.contact-table-item i:hover {
  color: $tint-color;
  cursor: pointer;
}

.contact-table-item i {
  font-size: 1.5rem;
  transition: all 500ms;
}

footer {
  text-align: center;
  background: $main-color;
  color: $off-white;
  font-weight: 300;
  padding: 1rem;
  font-size: 0.75rem;
}

//BG IMAGES FOR PORTFOLIO
#questions {
  @include image-styling('/img/work/100questions.jpg');
}

#ywr {
  @include image-styling('/img/work/ywr.jpg');
}

#portfolio {
  @include image-styling('/img/work/portfolio.jpg');
}

#myflix {
  @include image-styling('/img/work/movie_api.jpg');
}

#backroomstereo {
  @include image-styling('/img/work/backroomstereo.jpg');
}

#ticklist {
  @include image-styling('/img/work/vue_todo.jpg');
}

#musicmentoring {
  @include image-styling('/img/work/music_mentoring.jpg');
}

#musicmentoringportfolio {
  @include image-styling('/img/work/musicmentoringportfolio.png');
}
#lecdeck {
  @include image-styling(('/img/work/lecdeck.jpg'));
}

#lyricfinder {
  @include image-styling('/img/work/lyricfinder.jpg');
}

#pokemon {
  @include image-styling('/img/work/pokemon.jpg');
}

#charityapp {
  @include image-styling('/img/work/charityapp.jpg');
}

#usatip {
  @include image-styling('/img/work/usatip.jpg');
}

#thisorthat {
  @include image-styling('/img/work/thisorthat.jpg');
}

#hangout {
  @include image-styling('/img/work/hangout.jpg');
}

#buildaquiz {
  @include image-styling('/img/work/buildaquiz.jpg');
}

//Contact form area
form {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}

#contact-title {
  margin-top: 2rem;
  margin-bottom: 0px;
  font-size: 1rem;
  font-weight: 500;
  border-right: 2px solid $tint-color;
  border-left: 2px solid $tint-color;
  display: inline-block;
  padding: 5px 10px;
}

form button {
  background-color: $main-color;
  color: $off-white;
  border: 1px solid $off-white;
}

input,
textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  display: block;
  width: 100%;
  margin-top: 1em;
  resize: none;
  color: $main-color;
}

#input-submit {
  color: $off-white;
  cursor: pointer;
  background: linear-gradient(to right, $tint-color 50%, $main-color 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 500ms;
}

#input-submit:hover {
  background-position: left bottom;
  color: $main-color;
}

textarea {
  height: 117px;
}

.error {
  border: 1px solid $off-white;
  text-align: left;
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  background-color: darkred;
  color: $off-white;
  display: none;
  transition: all 500ms;
}

.success {
  border: 1px solid $off-white;
  text-align: center;
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  background-color: green;
  color: $off-white;
  display: none;
  transition: all 500ms;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

//SKILL AREA STYLING

#profile-skills-title {
  color: $main-color;
  font-size: 1.25rem;
  margin: 0.75rem;
}

.btn-skill {
  background-color: red;
  color: white;
  font-size: 13px;
  padding: 3px 7px;
  margin-bottom: 10px;
  box-shadow: none;
  outline: 0;
  display: inline-block;
  border-radius: 0.25em;
  font-weight: 500;
}

.html {
  background-color: #e34928;
}

.css,
.sql,
.jquery {
  background-color: #2873b8;
}

.javascript {
  background-color: #eedc5a;
  color: $secondary-color;
}

.sass {
  background-color: #ce659a;
}

.react,
.wordpress {
  background-color: #4597ac;
}

.swift {
  background-color: #e74227;
}

.node {
  background-color: #8ec64a;
  color: $secondary-color;
}
.angular {
  background-color: #c2002d;
}

.express {
  background-color: $secondary-color;
}

.bootstrap {
  background-color: #563a78;
}

.vue,
.mongo {
  background-color: #35976d;
}

// MEDIA RULES
@media (min-width: 500px) {
  body {
    margin: auto;
    max-width: 900px;
  }

  #landing {
    display: flex;
    height: 100%;
    background: $bg-color;
    margin: auto;
  }
  #landing-text {
    height: 100vh;
    background: $main-color;
    flex: 0 1 50vw;
  }
  #landing-image {
    height: 100vh;
    flex: 0 1 50vw;
  }

  #work-content h2 {
    margin: auto;
    padding: 0 20px;
    display: inline-block;
    margin-bottom: 15px;
  }

  .work-content-inner {
    display: flex;
    height: auto;
    background: $main-color;
    margin: auto;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .work-text {
    height: auto;
    background: $main-color;
    flex: 0 1 50vw;
    text-align: left;
    padding-left: 15px;
    align-self: center;
  }

  .work-text-reverse {
    text-align: right;
    padding-right: 15px;
  }

  .work-image {
    flex: 0 1 50vw;
  }
  .btn-small {
    font-size: 1.25rem;
  }

  #profile-pic {
    width: 13rem;
  }
}

// CSS ANIMATIONS

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
