/*CSS Variables*/
:root {
  --primary-color: #2e4c7e;
  --secondary-color: #333333;
  --default-text: #333333;
  --off-white: #f7f7f7;
  --dark-grey-color: #333333;
  --light-grey-color: #f7f7f7;
  --main-font-size: 16px;
  --super-light-grey: #dedede;
  --font-weight-light: 300;
  --font-weight-medium: 400;
  --font-weight-heavy: 700;
  --main-font: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--off-white);
  font-family: var(--main-font);
  font-weight: var(--font-weight-light);
  font-size: var(--main-font-size);
  color: var(--off-white);
  line-height: 1.4;
}

h1 {
  font-size: 30px;
  font-weight: 400;
  color: var(--off-white);
}

h2 {
  font-weight: var(--font-weight-medium);
  color: var(--primary-color);
}

a {
  color: var(--secondary-color);
  font-weight: var(--font-weight-light);
  text-decoration: none;
}

.header--container {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: auto;
  text-align: left;
  align-items: flex-end;
  padding-left: 20px;
  padding-top: 80px;
}

.header--item {
  margin-bottom: -18px;
  font-size: 18px;
}

.header--item__image {
  padding-left: 30px;
}

.header--item__image img {
  height: 120px;
  width: 120px;
}

.page-header {
  display: block;
  width: 100%;
  background: var(--primary-color);
  height: 300px;

  text-align: center;
}

.main-navigation {
  background-color: var(--primary-color);
  display: inline-block;
  text-align: right;
  width: 100%;
  padding-top: 10px;
  padding-right: 15px;
  position: fixed;
  top: 0;
  z-index: 100;
}

.navigation-list li {
  list-style-type: none;
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__bars {
  color: white;
  padding: 5px 15px 5px 15px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.navigation-list__item {
  font-weight: var(--font-weight-light);
  text-transform: uppercase;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  color: var(--super-light-grey);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.navigation-list__item--active {
  text-decoration: none;
  color: var(--super-light-grey);
  background-color: var(--primary-color);
  text-transform: uppercase;
  border-color: var(--super-light-grey);
  border: 1px solid var(--off-white);
  border-radius: 1%;
}

.navigation-list__item:hover {
  border: 1px solid var(--off-white);
  padding: 5px 15px 5px 15px;
  color: var(--off-white);
  opacity: 0.7;
}

.home-buttons__container {
  margin: 0 auto;
  background-color: var(--off-white);
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 20px;
  padding-left: 25px;
}

.profile {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 0px;
  background-color: var(--off-white);
  color: var(--primary-color);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 0px;
  justify-content: center;
}
.profile__item {
  padding-left: 40px;
}

.profile h1 {
  color: var(--primary-color);
  font-weight: 300;
}

.profile__portrait {
  margin-right: 50px;
  margin-left: 20px;
  min-width: 100px;
  max-width: 250px;
  border-radius: 1%;
  border: 3px solid var(--primary-color);
}

.home-buttons {
  margin-top: 40px;
}
.grid-buttons {
  margin-top: 30px;
  margin-bottom: 20px;
}

.button,
.button__secondary {
  border: 1px solid var(--primary-color);
  font-family: var(--main-font);
  background-color: var(--off-white);
  color: var(--primary-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 1%;
  font-weight: var(--font-weight-light);
  margin-left: 10px;
  /*Button Animation*/
  transition: all 0.2s ease-in-out;
}
.button:hover,
.button:focus {
  cursor: pointer;
  color: var(--off-white);
  background-color: var(--primary-color);
}

.button__secondary,
form button {
  background-color: var(--off-white);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 1%;
}

.button__secondary:hover,
.button__secondary:focus {
  cursor: pointer;
  color: var(--off-white);
  background-color: var(--secondary-color);
}

.page-footer {
  padding: 10px;
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--secondary-color);
}
.page-footer img {
  transition: all 0.2s ease-in-out;
}

.page-footer img:hover {
  opacity: 0.8;
}

.page-footer h3 {
  font-weight: 300;
  font-size: 20px;
  padding: 10px 0 0 0;
  margin: 0px;
}

.projects-title {
  background-color: var(--primary-color);
  font-weight: 300;
  color: var(--off-white);
  text-align: left;
  font-size: 30px;
  padding: 20px 20px 20px 40px;
}
.projects-grid {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: flex-start;
  grid-auto-rows: minmax(min-content, max-content);
  padding-left: 20px;
  padding-right: 20px;
}

.projects-grid__item {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  margin: 15px;
  background-color: var(--off-white);
  border-radius: 1%;
  border: 1px solid var(--off-white);
  height: 480px;
  justify-items: stretch;
}

.projects-grid-top {
  list-style: none;
  position: relative;
  display: inline-block;
}

.projects-grid-top p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--off-white);
  padding: 25px;
  border-radius: 1%;
  opacity: 0.95;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

.projects-grid-top p:hover {
  padding: 27px;
  opacity: 100%;
}

.projects-grid-top img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects__grid--content {
  text-align: center;
  margin: 10px;
}

.projects__grid--base {
  margin-top: 20px;
  margin-bottom: -10px;
  position: relative;
  text-align: center;
  align-items: baseline;
}

.primary-text {
  color: var(--primary-color);
}

.secondary-text {
  color: var(--secondary-color);
}

#contact {
  background-color: var(--secondary-color);
  margin-top: 0px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: flex-start;
  padding-right: 10px;
}

.contact-item {
  text-align: left;
}

#contact h1 {
  font-weight: 300;
  color: var(--off-white);
  text-align: left;
  font-size: 30px;
  padding: 20px 20px 0px 40px;
}

#contact p {
  padding-left: 40px;
}

#contact a {
  color: var(--off-white);
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}

#contact a:hover {
  opacity: 0.8;
}

.contact-info {
  padding-left: 40px;
  line-height: 2em;
}

.pri-background {
  background-color: var(--primary-color);
}

.sec-background {
  background-color: var(--secondary-color);
}
.projects-grid h2 {
  font-weight: var(--font-weight-medium);
}
form {
  max-width: 700px;
  text-align: center;
  margin: 20px auto;
}
input,
textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  display: block;
  width: 100%;
  margin-top: 1em;
  resize: none;
}

#input-submit {
  color: var(--off-white);
  background-color: var(--primary-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#input-submit:hover {
  opacity: 0.8;
}

textarea {
  height: 117px;
}

.contact-item .error {
  border: 1px solid var(--off-white);
  text-align: left;
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  background-color: darkred;
  color: var(--off-white);
  display: none;
}

.contact-item .success {
  border: 1px solid var(--off-white);
  text-align: left;
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  background-color: green;
  color: var(--off-white);
  display: none;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

.svgGraphic {
  float: left;

  padding-right: 10px;
}
.social-svg {
  width: 40px;
  height: 40px;
}

.social-media {
  transition: all 0.2s ease-in-out;
}

.social-media :hover {
  opacity: 0.9;
}

.subtitle {
  font-size: 15px;
}

hr {
  width: 70%;
  padding-bottom: 5px;
}

#mobile-bars {
  display: none;
}

@media all and (max-width: 500px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .main-navigation li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .profile__portrait {
    width: 40%;
    border-width: 3px;
  }

  .home-buttons {
    margin: 30px;
    float: right;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }

  .navigation-list__item {
    display: none;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

@media all and (max-width: 750px) {
  /*shared code for our ratio of 0 to 750px */
  .projects-grid {
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
  .projects__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
  .header--container {
    padding-top: 130px;
  }

  .navigation-list li {
    display: list-item;
    margin: 10px;
  }

  .navigation-list__item {
    display: none;
    margin-top: 150px;
    line-height: 28px;
    margin-bottom: 160px;
  }

  #mobile-bars {
    display: inline-block;
  }

  .main-navigation {
    height: 20px;
  }

  .home-buttons__container {
    padding-bottom: 20px;
    padding-left: 0px;
  }

  #contact {
    grid-template-columns: 1fr;
  }

  .half {
    float: left;
    margin-left: 10px;
    width: 40%;
    margin-bottom: 1em;
  }

  .right {
    width: 50%;
  }
  #input-submit {
    text-align: 2px;
    margin-left: 5px;
  }
}
