/*CSS Variables*/
:root {
  --primary-color: #388699;
  --secondary-color: #994b38; 
  --default-text: #1F1F1F;
  --off-white: #FDFFFC;
  --light-grey-color: lightgray;
  --main-font-size: 16px;
  --super-light-grey: #e5e5e5;
  --font-weight-light: 300;
  --font-weight-medium: 400;
  --font-weight-heavy: 700;
  --main-font: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}
body {
  background-color: var(--off-white);
  font-family: var(--main-font);
  font-weight: var(--font-weight-light);
  font-size: var(--main-font-size);
  color: var(--default-text);
  line-height: 1.4;
  
}

h1 {
  font-size: 28px;
  font-weight: var(--font-weight-light);
  color: var(--primary-color);
}
h2 {
  font-weight: var(--font-weight-medium);
  color: var(--primary-color)
}

a {
  color: var(--secondary-color);
  font-weight: var(--font-weight-light);
}

a:visited {
  opacity: 0.7;
}

a:hover, a:focus {
  text-decoration: none;
  cursor: pointer;
  color: var(--primary-color);
}

a:active {
 opacity: 0.7;
}

table {
  margin-bottom: 30px;
  align-content: left;

}

table th {
  font-weight: var(--font-weight-medium);
  text-align: left;
  color: var(--secondary-color);
}

table th, table td {
  padding: 5px 25px 5px 0px;
}

.button, .button__secondary, form button {
  border: none;
  font-family: var(--main-font);
  background-color: var(--secondary-color);
  color: var(--off-white);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  font-weight: var(--font-weight-light);
  /*Button Animation*/
  transition: 0.3s opacity;

  
}
.button:hover, .button:focus, .button__secondary:hover, .button__secondary:focus {
  cursor: pointer;
  opacity: 0.8;
  color: var(--off-white);
}

.button a:visited {
  color: ghostwhite;
  font-weight: var(--font-weight-light);
  text-decoration: none;
}

.button__secondary, form button {
  background-color: var(--primary-color);
  color: var(--off-white);
}

.navigation-list li {
  list-style-type: none;
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item  {
  font-weight: var(--font-weight-light);
  text-transform: uppercase;
  padding: 5px;
  border-top: 0px solid var(--super-light-grey);
  border-bottom: 0px solid var(--super-light-grey);
  text-decoration: none;
  transition: border-width 0.2s ease-out;
  transition: color 0.2s ease-out;
  color: var(--super-light-grey);
}

.navigation-list__item--active {
  text-decoration: none;
  color: var(--super-light-grey);
  text-transform: uppercase;
  border-color: var(--super-light-grey);
  border-bottom: 1px solid var(--super-light-grey);
  border-top: 1px solid var(--super-light-grey);
}

.navigation-list__item:hover {
  border-color: var(--light-grey-color);
  border-bottom: 1px solid var(--light-grey-color);
  border-top: 1px solid var(--light-grey-color);
  color: var(--light-grey-color);
}


.profile {
max-width: 700px;
margin: 0 auto;
padding-top: 50px;
padding-bottom: 20px;
}

.profile__portrait {
  float: left;
  margin-right: 50px;
 min-width: 100px;
 max-width: 250px;
 border-radius: 50%;
 border: 5px solid var(--primary-color);

}

.main-content {
  max-width: 800px;
 margin: 0 20px;
}

.main-content-area {
  padding-left: 20px;
}


.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: var(--primary-color);
 
}

.page-header__item {
  flex: 0 1 200px;
  transition: width 0.3s;
}

.page-header__logo {
  width: 70%;
}

.page-header__logo:hover {
  cursor: pointer;
  width: 73%;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
  align-content: flex-end;
}

.page-footer {
  padding: 10px;
  clear: both;
  display:flex;
  flex-direction: column;
  text-align: center;
  
}
.page-footer img {
  transition: 0.3s opacity;
}

.page-footer img:hover {
filter: invert(0.5);
}

#contact-form {
  padding: 10px;
  color: var(--primary-color);
  display: table;
}

#contact-form button {
  margin-left: 103px;
}

.form-paragraph {
  display: table-row;
}


label { 
  display: table-cell; 
}
input { 
  display: table-cell; 
}

input, textarea {
  border: 1px solid var(--primary-color);
  margin: 10px 10px 10px 0px;
}

label {
	float: left;
	text-align: right;
  width: 100px;
  margin: 10px 10px 10px 0px;
}

.main-content {
  padding-left: 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: flex-start;
  grid-auto-rows: minmax(min-content, max-content);
}

.projects-grid__item {
  margin: 15px;
  background-color: var(--super-light-grey);
  border-radius: 1%;
  border: px solid lightgray;
}

.projects-grid-top {
list-style: none;
position: relative;
display: inline-block;

}

.projects-grid-top p {
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);
text-align: center; 
color: var(--off-white); 
padding: 30px;
border-radius: 5%;
opacity: 0.9;
font-size: 20px;
transition: all 0.2s ease-in-out;
}

.projects-grid-top p:hover {
  padding: 35px;
  opacity: 100%;
}

.projects-grid-top img {
display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects__grid--content {
text-align: center;
margin: 10px;
}

.pri-background {
background-color: var(--primary-color);
}

.sec-background {
background-color: var(--secondary-color);
}


.projects-grid h2 {
  font-weight: var(--font-weight-medium);
}

.svgGraphic {
  float:left;
  
  padding-right: 10px;
 
}



@media all and (max-width: 500px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .main-navigation li {
   padding-top: 5px;
   padding-bottom: 5px;
  }
  .profile__portrait {
    width: 30%;
    border-width: 3px;
  }

 .home-buttons {
   margin: 30px;
   float: right;

 }

}

@media all and (min-width: 500px) and (max-width: 750px) {
  .projects-grid {
grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  /*shared code for our ratio of 0 to 750px */
  .projects-grid {
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
  .projects__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
 
}

/*SVG Animation */


@keyframes pulsing-apple {
  from {
    transform: scale(0.9,0.9) translate(4px,4px);
   fill: black;
  } to {
    transform: scale(1.0,1.0) translate(0px,0px);
    fill: darkgray;
  }
}

  .apple-logo {
    animation-duration: 750ms;
    animation-name: pulsing-apple;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }


