body {
  background: #fcfcfc;
}

:root {
  --primary-color: #388699;
  --secondary-color: #994b38; 
  --default-text: #1F1F1F;
  --off-white: #FDFFFC;
  --light-grey-color: lightgray;
  --main-font-size: 16px;
  --super-light-grey: #e5e5e5;
  --font-weight-light: 300;
  --font-weight-medium: 400;
  --font-weight-heavy: 700;
  --main-font: 'Open Sans', sans-serif;
}



/*Code for new project grid 
Classes needed projects-grid, projects-grid__project, projects-grid__project-content
  */

  body {
    background: black;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: flex-start;
    grid-auto-rows: min-content;
    
   
  }

  .projects-grid__item {
    margin: 15px;
    background-color: var(--super-light-grey);
    border-radius: 1%;
  }

.projects-grid-top {
  list-style: none;
  position: relative;
  display: inline-block;
  
}

.projects-grid-top p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center; 
  color: var(--off-white); 
  text-shadow: 0 0 15px;
  padding: 40px;
  border-radius: 5%;
  opacity: 0.9;
}

.projects-grid-top img {
  display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects__grid--content {
  text-align: center;
  margin: 10px;
}

.pri-background {
  background-color: var(--primary-color);
}

.sec-background {
  background-color: var(--secondary-color);
}


/*
  .projects-grid {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: flex-start;
    padding-right: 15px;
    grid-auto-rows: min-content;
    background-color: red;
    border-radius: 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  }
  
  .projects-grid__project {
    background: var(--super-light-grey);
    padding: 0px 5px 5px 5px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-auto-rows: min-content;
    
  }
  
  .projects-grid__project-content {
    text-align: center;
    
  }
  
  .projects-grid__project-content h2 {
  color: var(--primary-color);
  font-weight: var(--font-weight-medium)
  }
  
  .projects-grid__project-link {
  padding-top: 5px;
  text-align: center;
  margin: 15px;
  }

  .projects-grid__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

*/
  
  /* CSS GRID FALLBACK 
  .projects-grid__item {
    display: inline-block;
    width: 33%;
  }
  
  .projects-grid h2 {
    font-weight: var(--font-weight-medium);
  }

@media all and (max-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
*/
/*
 grid with some sub grids 
.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);

  grid-gap: 10px;
}
.wrapper div {
background-color: brown;
padding: 10px;
}
 Let's us have a grid within a grid 
.nested {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 5px;
}

.nested div {
  border: black 3px solid;

}

@media all and (max-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
*/
/*BREAK HERE*/

/* simple grid 
.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.wrapper div {
background-color: brown;
padding: 10px;
margin: 10px;
}*/

