body {
  background: #fcfcfc;
}

:root {
  --primary-color: #388699;
  --secondary-color: #994b38; 
  --default-text: #1F1F1F;
  --off-white: #FDFFFC;
  --light-grey-color: lightgray;
  --main-font-size: 16px;
  --super-light-grey: #e5e5e5;
  --font-weight-light: 300;
  --font-weight-medium: 400;
  --font-weight-heavy: 700;
  --main-font: 'Open Sans', sans-serif;
}



/*Code for new project grid 
Classes needed projects-grid, projects-grid__project, projects-grid__project-content
  */


.projects-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  justify-items: stretch;
  align-items: flex-start;

}

.projects-grid__project {
  background: var(--super-light-grey);
  padding: 10px;
  display: grid;
  grid-template-rows: 3fr 1fr;

}

.projects-grid__project-content {
}

.projects-grid__project-content h1 {
color: var(--primary-color);
}

.projects-grid__project-link {
padding-top: 5px;
}

  /* More complicated grid with inidvidual classes in the html */
.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  justify-items: stretch; /*strecth start and end do different things */
  align-items: stretch; /*can have centre start and end as well */
}
.wrapper div {

padding: 10px;
}

.box1 {
grid-column: 1/3;
grid-row: 1/2;
background-color: royalblue;
}

.box2 {
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: rebeccapurple;
 
}

.box3 {
  grid-column: 2;
  background-color: skyblue;
}

.box4 {
  grid-row: 2/4;
  grid-column: 1;
  background-color: crimson;
}

.nested div {
  border: black 3px solid;

}

@media all and (max-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}

/*
 grid with some sub grids 
.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);

  grid-gap: 10px;
}
.wrapper div {
background-color: brown;
padding: 10px;
}
 Let's us have a grid within a grid 
.nested {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 5px;
}

.nested div {
  border: black 3px solid;

}

@media all and (max-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
*/
/*BREAK HERE*/

/* simple grid 
.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.wrapper div {
background-color: brown;
padding: 10px;
margin: 10px;
}*/

