@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
/*CSS Variables*/
* {
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  height: auto;
  background: #eee;
}

main {
  max-width: 1000px;
  margin: auto;
  -webkit-box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1), -30px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1), -30px 0px 40px rgba(0, 0, 0, 0.1);
}

h1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 0;
  color: #e1f0fe;
  text-transform: uppercase;
}

h2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
  color: #647db3;
  text-transform: uppercase;
}

#top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99;
  cursor: pointer;
  padding: 5px 15px;
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 5%;
  color: #2e4c7e;
  border-right: 2px solid #e2a031;
  border-left: 2px solid #e2a031;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #e2a031), color-stop(50%, #e1f0fe));
  background: linear-gradient(to right, #e2a031 50%, #e1f0fe 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

#top-button:hover {
  cursor: pointer;
  background-position: left bottom;
  opacity: 0.9;
  color: #e1f0fe;
}

img {
  display: block;
  width: 100%;
}

#landing {
  background: #2e4c7e;
}

#landing-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40vw;
          flex: 0 1 40vw;
  height: 65vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1rem;
}

#landing-text-inner h1 {
  margin-top: 0px;
}

#landing-logo {
  display: block;
  width: 90%;
  margin: auto;
  -webkit-animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.btn {
  padding: 0.25rem 0.5rem;
  border-right: 2px solid #e2a031;
  border-left: 2px solid #e2a031;
  display: inline-block;
  margin: 2rem 1rem;
  color: #647db3;
  text-decoration: none;
  font-size: 1.25rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #e2a031), color-stop(50%, #2e4c7e));
  background: linear-gradient(to right, #e2a031 50%, #2e4c7e 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.btn:hover {
  background-position: left bottom;
  opacity: 0.9;
  color: #2e4c7e;
}

.btn-light {
  color: #2e4c7e;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #2e4c7e), color-stop(50%, #e1f0fe));
  background: linear-gradient(to right, #2e4c7e 50%, #e1f0fe 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.btn-light:hover {
  color: #647db3;
}

#landing-image {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 76, 126, 0.5)), to(rgba(46, 76, 126, 0.5))), url("/bg-image.c33f9d7b.jpg");
  background: linear-gradient(rgba(46, 76, 126, 0.5), rgba(46, 76, 126, 0.5)), url("/bg-image.c33f9d7b.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 35vh;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60vh;
          flex: 0 1 60vh;
  margin: 0;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

#about {
  padding: 1rem;
  text-align: center;
  background: #e1f0fe;
}

#profile-pic-area {
  display: none;
}

#profile-pic {
  width: 8rem;
  margin-left: 2px;
  text-align: right;
  float: right;
}

#about-content p {
  font-size: 1rem;
  font-weight: 300;
  color: #2e4c7e;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  text-align: left;
}

#about-social {
  margin-top: 30px;
  color: #2e4c7e;
}

#about-social i {
  color: #2e4c7e;
  font-size: 2rem;
  display: inline-block;
  margin: 0 15px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

#about-social i:hover {
  cursor: pointer;
  color: #e2a031;
}

#work {
  text-align: center;
  background: #2e4c7e;
  color: #e1f0fe;
  display: block;
  width: 100%;
}

.work-content-inner, .work-content-inner-second {
  background: #2e4c7e;
}

#work-content {
  background: #2e4c7e;
  padding: 1rem;
}

#work-view-more {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #647db3;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #eee;
  font-size: 1.2rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #e2a031), color-stop(50%, #647db3));
  background: linear-gradient(to right, #e2a031 50%, #647db3 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

#work-view-more:hover {
  cursor: pointer;
  background-position: left bottom;
  color: #2e4c7e;
}

#work-content-second {
  padding-top: 5vh;
}

.hide-section {
  display: none;
}

.work-text {
  background: #2e4c7e;
}

#work-content h2 {
  border-right: 2px solid #e2a031;
  border-left: 2px solid #e2a031;
  margin: 0.5rem 4rem;
  text-transform: none;
  color: #647db3;
  text-decoration: none;
  font-size: 2.2rem;
}

.work-image {
  height: 45vh;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50vh;
          flex: 0 1 50vh;
}

.work-text-inner h2 {
  color: #e2a031;
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
  text-transform: none;
}

.subtitle {
  color: #647db3;
  margin-bottom: 0.75rem;
}

.project-text {
  font-weight: 300;
  margin-right: 5px;
}

.btn-small {
  font-size: 1rem;
}

.work-skill-area {
  margin: 1rem 0 0 0;
}

#contact {
  background: #e1f0fe;
  padding: 1rem;
  text-align: center;
}

#contact-content h2 {
  border-right: 2px solid #e2a031;
  border-left: 2px solid #e2a031;
  display: inline-block;
  margin: 0.5rem 5rem;
  margin-bottom: 15px;
  padding: 5px 15px;
  text-transform: none;
  color: #2e4c7e;
  text-decoration: none;
  font-size: 1.5rem;
}

.contact-content-text {
  color: #2e4c7e;
}

.contact-content-form {
  color: #2e4c7e;
  margin-top: 1rem;
}

.contact-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-table-item {
  margin: 0.6rem;
}

.contact-table a {
  color: #2e4c7e;
  margin: 10px;
  font-size: 1rem;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.contact-table a:hover,
.contact-table-item i:hover {
  color: #e2a031;
  cursor: pointer;
}

.contact-table-item i {
  font-size: 1.5rem;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

footer {
  text-align: center;
  background: #2e4c7e;
  color: #e1f0fe;
  font-weight: 300;
  padding: 1rem;
  font-size: 0.75rem;
}

#questions {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 76, 126, 0.2)), to(rgba(46, 76, 126, 0.2))), url("/100questions.3dea445d.jpg");
  background: linear-gradient(rgba(46, 76, 126, 0.2), rgba(46, 76, 126, 0.2)), url("/100questions.3dea445d.jpg");
  background-position: center;
  background-size: fit;
  background-repeat: no-repeat;
}

#ywr {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 76, 126, 0.2)), to(rgba(46, 76, 126, 0.2))), url("/ywr.f66ea9c1.jpg");
  background: linear-gradient(rgba(46, 76, 126, 0.2), rgba(46, 76, 126, 0.2)), url("/ywr.f66ea9c1.jpg");
  background-position: center;
  background-size: fit;
  background-repeat: no-repeat;
}

#portfolio {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 76, 126, 0.2)), to(rgba(46, 76, 126, 0.2))), url("/portfolio.d3c55d83.jpg");
  background: linear-gradient(rgba(46, 76, 126, 0.2), rgba(46, 76, 126, 0.2)), url("/portfolio.d3c55d83.jpg");
  background-position: center;
  background-size: fit;
  background-repeat: no-repeat;
}

#myflix {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 76, 126, 0.2)), to(rgba(46, 76, 126, 0.2))), url("/movie_api.caba1120.jpg");
  background: linear-gradient(rgba(46, 76, 126, 0.2), rgba(46, 76, 126, 0.2)), url("/movie_api.caba1120.jpg");
  background-position: center;
  background-size: fit;
  background-repeat: no-repeat;
}

#backroomstereo {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 76, 126, 0.2)), to(rgba(46, 76, 126, 0.2))), url("/backroomstereo.455fa3e3.jpg");
  background: linear-gradient(rgba(46, 76, 126, 0.2), rgba(46, 76, 126, 0.2)), url("/backroomstereo.455fa3e3.jpg");
  background-position: center;
  background-size: fit;
  background-repeat: no-repeat;
}

#ticklist {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 76, 126, 0.2)), to(rgba(46, 76, 126, 0.2))), url("/vue_todo.7be0a272.jpg");
  background: linear-gradient(rgba(46, 76, 126, 0.2), rgba(46, 76, 126, 0.2)), url("/vue_todo.7be0a272.jpg");
  background-position: center;
  background-size: fit;
  background-repeat: no-repeat;
}

#musicmentoring {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 76, 126, 0.2)), to(rgba(46, 76, 126, 0.2))), url("/music_mentoring.6c2c6143.jpg");
  background: linear-gradient(rgba(46, 76, 126, 0.2), rgba(46, 76, 126, 0.2)), url("/music_mentoring.6c2c6143.jpg");
  background-position: center;
  background-size: fit;
  background-repeat: no-repeat;
}

#musicmentoringportfolio {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 76, 126, 0.2)), to(rgba(46, 76, 126, 0.2))), url("/musicmentoringportfolio.69d27e0a.png");
  background: linear-gradient(rgba(46, 76, 126, 0.2), rgba(46, 76, 126, 0.2)), url("/musicmentoringportfolio.69d27e0a.png");
  background-position: center;
  background-size: fit;
  background-repeat: no-repeat;
}

#lecdeck {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 76, 126, 0.2)), to(rgba(46, 76, 126, 0.2))), url("/lecdeck.ebd03f77.jpg");
  background: linear-gradient(rgba(46, 76, 126, 0.2), rgba(46, 76, 126, 0.2)), url("/lecdeck.ebd03f77.jpg");
  background-position: center;
  background-size: fit;
  background-repeat: no-repeat;
}

#lyricfinder {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 76, 126, 0.2)), to(rgba(46, 76, 126, 0.2))), url("/lyricfinder.e596216e.jpg");
  background: linear-gradient(rgba(46, 76, 126, 0.2), rgba(46, 76, 126, 0.2)), url("/lyricfinder.e596216e.jpg");
  background-position: center;
  background-size: fit;
  background-repeat: no-repeat;
}

#pokemon {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 76, 126, 0.2)), to(rgba(46, 76, 126, 0.2))), url("/pokemon.1cb35896.jpg");
  background: linear-gradient(rgba(46, 76, 126, 0.2), rgba(46, 76, 126, 0.2)), url("/pokemon.1cb35896.jpg");
  background-position: center;
  background-size: fit;
  background-repeat: no-repeat;
}

#chatapp {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 76, 126, 0.2)), to(rgba(46, 76, 126, 0.2))), url("/chatapp.f4f23832.jpg");
  background: linear-gradient(rgba(46, 76, 126, 0.2), rgba(46, 76, 126, 0.2)), url("/chatapp.f4f23832.jpg");
  background-position: center;
  background-size: fit;
  background-repeat: no-repeat;
}

#blog {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 76, 126, 0.2)), to(rgba(46, 76, 126, 0.2))), url("/blog.e4ed5c69.jpg");
  background: linear-gradient(rgba(46, 76, 126, 0.2), rgba(46, 76, 126, 0.2)), url("/blog.e4ed5c69.jpg");
  background-position: center;
  background-size: fit;
  background-repeat: no-repeat;
}

#apps {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 76, 126, 0.2)), to(rgba(46, 76, 126, 0.2))), url("/apps.012d0862.jpg");
  background: linear-gradient(rgba(46, 76, 126, 0.2), rgba(46, 76, 126, 0.2)), url("/apps.012d0862.jpg");
  background-position: center;
  background-size: fit;
  background-repeat: no-repeat;
}

#charityapp {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 76, 126, 0.2)), to(rgba(46, 76, 126, 0.2))), url("/charityapp.e85a4322.jpg");
  background: linear-gradient(rgba(46, 76, 126, 0.2), rgba(46, 76, 126, 0.2)), url("/charityapp.e85a4322.jpg");
  background-position: center;
  background-size: fit;
  background-repeat: no-repeat;
}

#usatip {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 76, 126, 0.2)), to(rgba(46, 76, 126, 0.2))), url("/usatip.9fa52669.jpg");
  background: linear-gradient(rgba(46, 76, 126, 0.2), rgba(46, 76, 126, 0.2)), url("/usatip.9fa52669.jpg");
  background-position: center;
  background-size: fit;
  background-repeat: no-repeat;
}

#thisorthat {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 76, 126, 0.2)), to(rgba(46, 76, 126, 0.2))), url("/thisorthat.327d7dcb.jpg");
  background: linear-gradient(rgba(46, 76, 126, 0.2), rgba(46, 76, 126, 0.2)), url("/thisorthat.327d7dcb.jpg");
  background-position: center;
  background-size: fit;
  background-repeat: no-repeat;
}

#hangout {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 76, 126, 0.2)), to(rgba(46, 76, 126, 0.2))), url("/hangout.4efc1b5e.jpg");
  background: linear-gradient(rgba(46, 76, 126, 0.2), rgba(46, 76, 126, 0.2)), url("/hangout.4efc1b5e.jpg");
  background-position: center;
  background-size: fit;
  background-repeat: no-repeat;
}

#buildaquiz {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 76, 126, 0.2)), to(rgba(46, 76, 126, 0.2))), url("/buildaquiz.2ecd216a.jpg");
  background: linear-gradient(rgba(46, 76, 126, 0.2), rgba(46, 76, 126, 0.2)), url("/buildaquiz.2ecd216a.jpg");
  background-position: center;
  background-size: fit;
  background-repeat: no-repeat;
}

form {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}

#contact-title {
  margin-top: 2rem;
  margin-bottom: 0px;
  font-size: 1rem;
  font-weight: 500;
  border-right: 2px solid #e2a031;
  border-left: 2px solid #e2a031;
  display: inline-block;
  padding: 5px 10px;
}

form button {
  background-color: #2e4c7e;
  color: #e1f0fe;
  border: 1px solid #e1f0fe;
}

input,
textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  display: block;
  width: 100%;
  margin-top: 1em;
  resize: none;
  color: #2e4c7e;
}

#input-submit {
  color: #e1f0fe;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #e2a031), color-stop(50%, #2e4c7e));
  background: linear-gradient(to right, #e2a031 50%, #2e4c7e 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

#input-submit:hover {
  background-position: left bottom;
  color: #2e4c7e;
}

textarea {
  height: 117px;
}

.error {
  border: 1px solid #e1f0fe;
  text-align: left;
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  background-color: darkred;
  color: #e1f0fe;
  display: none;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.success {
  border: 1px solid #e1f0fe;
  text-align: center;
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  background-color: green;
  color: #e1f0fe;
  display: none;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.half {
  float: left;
  width: 98%;
  margin-bottom: 1em;
}

.right {
  width: 98%;
}

#input-message {
  margin-top: 0px;
}

.left {
  margin-right: 2%;
}

#profile-skills-title {
  color: #2e4c7e;
  font-size: 1.25rem;
  margin: 0.75rem;
}

.btn-skill {
  background-color: red;
  color: white;
  font-size: 13px;
  padding: 3px 7px;
  margin-bottom: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  display: inline-block;
  border-radius: 0.25em;
  font-weight: 500;
}

.html {
  background-color: #e34928;
}

.css,
.sql,
.jquery {
  background-color: #2873b8;
}

.javascript {
  background-color: #eedc5a;
  color: #0e0e0e;
}

.sass {
  background-color: #ce659a;
}

.react,
.wordpress {
  background-color: #4597ac;
}

.swift {
  background-color: #e74227;
}

.node {
  background-color: #8ec64a;
  color: #647db3;
}

.angular {
  background-color: #c2002d;
}

.express {
  background-color: #647db3;
}

.bootstrap {
  background-color: #563a78;
}

.vue,
.mongo {
  background-color: #35976d;
}

@media (min-width: 500px) {
  body {
    margin: auto;
    max-width: 900px;
  }
  #landing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    background: #eee;
    margin: auto;
  }
  #landing-text {
    height: 100vh;
    background: #2e4c7e;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50vw;
            flex: 0 1 50vw;
  }
  #landing-image {
    height: 100vh;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50vw;
            flex: 0 1 50vw;
  }
  #work-content h2 {
    margin: auto;
    padding: 0 20px;
    display: inline-block;
    margin-bottom: 15px;
  }
  .work-content-inner, .work-content-inner-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    background: #2e4c7e;
    margin: auto;
  }
  .reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .work-text {
    height: auto;
    background: #2e4c7e;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50vw;
            flex: 0 1 50vw;
    text-align: left;
    padding-left: 15px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .work-text-reverse {
    text-align: right;
    padding-right: 15px;
  }
  .work-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50vw;
            flex: 0 1 50vw;
  }
  .btn-small {
    font-size: 1.25rem;
  }
  #profile-pic {
    width: 13rem;
  }
  .half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
  }
  .right {
    width: 50%;
  }
  .left {
    margin-right: 2%;
  }
  #input-message {
    margin-top: 15px;
  }
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}


/*# sourceMappingURL=/style.78032849.css.map */